 /*========= mixins =========*/

@mixin global-footer-images {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100px;
}


body {
	font-family: 'Open Sans', sans-serif;

	a:visited {
		color: #5e686f;
	}
}
/*========= global =========*/

.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	overflow: hidden;
}

.head_wrap {
	h2 {
		margin-top: 3em;
	}
}

header {
	height: 18.75em;
	background-image: url(https://m1.behance.net/rendition/modules/51017955/disp/10d94ff5adc4216ad9f856e6514468c4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	h1 {
	color: white;
	font-size: 2.1em;
	text-align: center;
	padding-left: 1.1%;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
	}

	h2 {
	text-align: center;
	font-weight: 600;
	padding-left: 12px;
	color: white;
	font-weight: 700;
	text-shadow: 2px 2px 2px black;
	}
}
.logo {
	float: left;
	padding: .5em 0 1em 0;

	img {
	display: inline-block;
	}
	h3 {
	color: #083452;
	font-weight: 600;
	}
}

.sp_logo {
	display: none;
}

.head_nav {
	padding: 1em 0 1em 0;
	float: right;
	font-size: 1em;
	font-weight: 600;


	li {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 1.43em;
	vertical-align: middle;

	&:nth-of-type(2) {
		padding-right: 0.5em;
	}
	}


	li a {
	text-decoration: none;
	color: #083452;

	&:hover {

		color: lighten(#083452, 40%);
	}

	}
}
.head_wrap {
	padding-top: 3em;
}

.author p, .author p a:visited {
	vertical-align: top;
	padding-left: 11px;
	color: #a3b3bf;
}


.ht_img {
	display: none;
	border-radius: 50%;
}

span {
	text-decoration: underline;
	font-size: 0.81em;
	letter-spacing: .03em
}

.headline {

	h2 {
	font-size: 1.6em;
	line-height: 1.24em;
	margin-bottom: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #083452;
	margin-top: 20px;
	}
	h3 {
	font-size: 1.4em;
	font-weight: 700;
	margin: 13px 0 38px 11px;
	padding: 10px 0 0 20px;
	color: #106db3;
	}

	p {
	line-height: 1.63em;
	color: #5e686f;
	font-weight: 400;

		a{
		color: #a3b3bf;
		}
		a:hover {
		color: #106db3;
		}
	
		&:nth-of-type(1) {
		margin-bottom: 23px;
		}
		&:nth-of-type(2) {
		margin-bottom: 23px;
	}
  }
} 


.line {
	width: 2px;
	height: 50px;
	background-color: #a3b3bf;
	float: left;	
	margin-left: 10px;
}

.recipe {
	font-family: 'Open Sans', sans-serif;
	color: #5e686f;
	margin-bottom: 2em;

	li {
		margin-top: 1em;
	}

	h4 {
		font-size: 2em;
		margin-bottom: 1em;
	}

	a:visited {
		color: #5e686f;
	}
}

.article_btns {
	margin: 3.1% 0 0 20%;

	p{
	color: white;
	float: left;
	margin-top: 8px;
	margin-left: 9px;
	font-size: 13px;
	}
	a {
	display: inline-block;
	background-color: #a3b3bf;
	}
	img{
	display: inline-block;
	background-color: #5e686f;
	float: left;
	}
	& a:hover {
	background-color: #106db3;
	}
	& a:hover img {
	background-color: #083452;
	}
}

.btn1, .btn2, .btn3 {
	display: inline-block;
	margin-right: 1.87em;

	&:nth-of-type(3) {
	margin-right: 0;
	}
}

.btn_ext {
	display: none;
}

.htemil_photo {
	width: 15%;

	img {
		border-radius: 50%;
	}
}

.social {
		margin: 2em 2em;

	img {
	margin-right: .5em;
	max-width: 100%;
	float: left;
	}
	h4 {
	margin-bottom: .5em;
	padding-top: 2em;
	color: #5e686f;
	}
	li {
	display: inline-block;
	font-size: .8em;
	margin-right: 1.37em;
	}
	& li:last-child {
	margin-right: 0;
	}
	& li a {
	text-decoration: none;
	color: #a3b3bf;

	&:hover {
		color: #106db3;
	}

	}
}

.ad_photo {
	background-image: url(../images/ad.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 300px;
	max-width: 100%;
	margin: 2em 0;

	p {
	font-size: 14px;
	text-decoration: underline;
	margin-top: .375em;
	color: #a3b3bf;
	text-align: center;
	}
}
.ad a {
	display: block;
	margin-bottom: 1em;
	text-align: right;
}

.sidebar h3 {
	margin-bottom: .625em;
	letter-spacing: .08em;
	color: #106db3;
}
.sidebar p {
	font-size: .875em;
	line-height: 1.75em;
	color: #a3b3bf;
}

.main_footer {
	margin-top: .5em;

	a {
		text-decoration: none;
	}

	h2 {
		color: white;
		text-shadow: 2px 2px 2px #000;
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
		padding: 1em 1em;
	}
}

.top_footer {
	margin-top: 2em;
	margin-bottom: 2em;
	border-top: 1px solid #a3b3bf;
	text-align: center;
	padding-top: 1em;
	font-size: 1.5em;
	color: #083452;
}

.surf {
	@include global-footer-images;
	background-image: linear-gradient(rgba(130, 131, 126, 0.5), rgba(130, 131, 126, 0.5)), url(../images/hash.jpg);

	&:hover {
		background-image: url(../images/hash.jpg);
	}
}

.boards {
	@include global-footer-images;
	background-image: linear-gradient(rgba(130, 131, 126, 0.5), rgba(130, 131, 126, 0.5)), url(../images/creampuffs.jpg);

	&:hover {
		background-image: url(../images/creampuffs.jpg);
	}
}

.paddle {
	@include global-footer-images;
	background-image: linear-gradient(rgba(130, 131, 126, 0.5), rgba(130, 131, 126, 0.5)), url(../images/eggplants.jpg);

	&:hover {
		background-image: url(../images/eggplants.jpg);
	}
}

.beach {
	@include global-footer-images;
	background-image: linear-gradient(rgba(130, 131, 126, 0.5), rgba(130, 131, 126, 0.5)), url(../images/figs.jpg);

	&:hover {
		background-image: url(../images/figs.jpg);
	}
}

.main_footer {
	a:hover .surf {
		background-color: rgba(1, 1, 1, 0.2);
	}
}

.bottom_footer {
	overflow: hidden;
	height: 3.12em;
	background-color: #083452;
	padding-top: 2.5em;
	letter-spacing: .02em;
	padding-bottom: 3.65em;
	
	ul {
	float: right;
	width: 25%;
	}
	li {
 	line-height: 1.25em;
	}
}

.bottom_nav li a {
	text-decoration: none;
	color: white;
	font-size: .815em;
	color: #a3b3bf;

	&:hover {
		color: darken(#a3b3bf, 30%);
	}
}

.iron_yard_info {
	width: 40%;
	float: left;
	font-size: .81em;
	color: #a3b3bf;
	img {
	padding-left: 2em;
	}
	p {
	letter-spacing: .4px;
	line-height: 1.25em;
	}
}

/*========= buttons and headings breakpoint =========*/

@media screen and (min-width: 610px) {
	.btn_ext {
	display: inline-block;
}
.article_btns {
	margin-left: 0;

	p{
	padding-right: 1.125em;
	}
}
header h1 {
	font-size: 3.2em;
}
.headline h2 {
	font-size: 2.4em;
}

}

/*========= medium breakpoint =========*/


@media screen and (min-width: 700px) {

header {
	height: 25em;
	h1 {
	font-size: 4em;
	}
}
.sp_logo {
	display: inline-block;
}
.logo img {
	float: left;
}
.logo h3 {
	float: left;
	padding: 1em 0 0 1em;
}
.head_wrap {
	padding-top: 5em;
}
.headline h2 {
	font-size: 2.6em;
}
.ht_img {
	display: block;
	width: 5%;
	float: left;
	margin-right: .75em;
}
.btn1, .btn2, {
	padding-right: .62em;
}

.social {
	// margin: 1.5em 0 3em 0;

	li {
	margin-right: 3em;
	}
}

.htemil_photo {
	width: 100%;
}
.ad {
	float: left;
	width: 50%;
	margin: 0 auto;
}
.sidebar {
	float: left;
	width: 45%;
	margin-left: 5%;
}
.top_footer {
	margin: 1em 0;
	font-size: 2.5em;
}
.surf, .boards, .paddle, .beach {
	width: 50%;
	height: 200px;
	float: left;
}
.bottom_footer {
	clear: both;
}
.iron_yard_info {
	width: 50%;
	
	img {
	float: left;
	padding-left: 1em;
	}
	p {
	float: left;
	padding-top: 1.2em;
	padding-left: 1em;
	}
}

.top_footer h2 {
	font-size: 1.25em;
	}
}


/*========= large breakpoint =========*/

@media screen and (min-width: 1000px) {


header {
	height: 32.68em;

	h1 {
	font-size: 7em;
	}
}

.head_wrap {
	padding-top: 8em;
}

.logo {
	float: left;

	img {
	display: inline-block;
	}
}

.author img, .author p {
	display: inline-block;
}


.left_content {
	float: left;
	width: 65%;
	margin-right: 5%;
}


.right_content {
	width: 30%;
	float: left;
	overflow: hidden;
}
.social img {
	margin-left: 4.5em;
	margin-bottom: .8em;
	float: none;
}
.social h4 {
	padding-top: 0;
	padding-left: 4.6em;
}

.ad {
	float: none;
	width: 100%;
	margin: 0 auto;

	p {
	float: right;
	}
}
.sidebar {
	clear: both;
	float: none;
	width: 100%;
	margin-top: 5em;
}
.surf, .boards, .paddle, .beach {
	width: 25%;
	height: 325px;
}
.top_footer h2 {
	font-size: 1.5em;
}
.bottom_footer {

	ul {
	width: 45%;
	padding-top: .8em;
	}
	li {
	display: inline-block;
	border-right: 1px solid #a3b3bf;
	margin-right: 1em;
	}
	& li:nth-of-type(4){
	border: none;
	margin-right: 0;
	}
	li a{
	padding-right: .5em;
	}
}

.main_footer h2 {
	font-size: 2.5em;
}
}
/*========= header breakpoint =========*/

@media screen and (min-width: 1120px) {

	.headline h2 {
	font-size: 3em;
	}
}
