/* ========== global ========== */
.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
}

.col10 {
    padding: 3em 0em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sep_line {
    width: 90%;
    margin: 0 auto;
    height: 0.1em;
    background: rgb(219, 199, 88);
    margin-top: 2em;
    margin-bottom: 2em;
}

.section_description {
    padding-bottom: 2em;
}

.wine_intro {
    padding-bottom: 1em;
    margin: 0 auto;
    width: 90%;
}

.wine_list {
    max-width: 600px;
    margin: 0 auto;
}

.pizza_list {
    max-width: 500px;
}

.beer_wine {
    background-image: url(../images/beer.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // background-position: center center;
    padding: 2em 0;
}

.food {
    background-image: url(../images/brewery.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
}

.pies {
    background-image: url(../images/pizza.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
}

footer {
    overflow: hidden;
    text-align: center;
    .location, .hours, .top_btn {
        display: inline-block;
        vertical-align: top;
        padding: 2em 1em;
        width: 50%;
    }
}

.threes {
    .location, .hours, .top_btn {
        width: 33.333%;
    }
}

button {
    position: relative;
    background: #0aa2aa;
    border: 2px solid white;
    padding: 10px;
    font-size: 1.25em;
    color: white;
    box-shadow: 4px 4px 0px 0px #aaa;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        left: 4px;
        top: 4px;
        box-shadow: none;
        transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
    }
}

.top_btn a {
    text-decoration: none;
    &:visited {
        color: white;
    }
}

.contact_btn {
    float: right;
    width: 100%;
}

.logo {
    text-align: center;
    padding-left: 2em;
    padding-bottom: 2em;
}

/* ========== CONTACT PAGE ========== */
.contact {
    padding-top: 0;
    padding-bottom: 0;
}

.contact_list {
    padding-bottom: 1.5em;
    a {
        color: rgb(209, 213, 213);
        text-decoration: none;
        &:visited {
            color: white;
        }
        &:hover {
            font-weight: bold;
        }
    }
}

.map {
    max-width: 100%;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.contact_page {
    background-image: url(../images/dog.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2em 0;
}

/* ========== HOME PAGE ========== */

.home {
    background-image: url(../images/people.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
}

.about {
    padding: 2em 0;
    &:last-of-type {
        margin-top: 2em;
    }
}

/* =============== medium =============== */

@media screen and (min-width: 760px) {
    h1 {
        font-size: 4.5em;
    }
    .col_md {
        width: 45%;
        margin-right: 8%;
        display: inline-block;
        vertical-align: top;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

/* ================ large =============== */

@media screen and (min-width: 900px) {
    .logo {
        float: left;
        padding-left: 0;
        padding-bottom: 0;
    }
    .col4 {
        @include grid(4);
        @include margin-col(2);
        display: inline-block;
        vertical-align: top;
    }
    .col5 {
        @include grid(5.5);
        display: inline-block;
        vertical-align: top;
        margin-right: 10%;
        // @include margin-col(2);
        &:last-of-type {
            margin-right: 0;
        }
    }
    h4, p {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    h3 {
        padding-left: 1em;
        font-size: 2.75em;
    }
    .about h3 {
        padding-left: 1.4em;
    }
    .map {
        width: 100%;
        padding-right: 0;
    }
}