
@mixin grid ($col-num) {
  width: ($col * $col-num);
  // margin-right: $gut;
}


$col: 8.3%;
$global: 100%;

/* ========== global ========== */
.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1000px;
}


/* ========== medium ========== */

/* ========== large ========== */