body {
    font-family: "futura-pt", sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    padding-top: 0.5em;
    text-shadow: 4px 4px 4px #222;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    padding: 1em 0;
    text-shadow: 2px 2px 4px #222;
}

h3 {
    font-size: 3em;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: .75em;
    text-shadow: 2px 2px 4px #222;
}

p {
    font-size: 1.4em;
    line-height: 130%;
    a {
        font-weight: 600;
        text-decoration: none;
    }
}

ul li a {
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 600;
}

footer a {
    font-size: 1.5em;
    padding-right: .75em;
    &:last-of-type {
        padding-right: 0;
    }
}



@media screen and (min-width: 720px) {
    h1 {
        font-size: 5em;
    }
    .benefits h3 {
        text-align: right; 
        margin-right: 110px; 
    }

    .design-selection h3, .design-archives h3, .zen-resources h3 {
    text-align: left;
}
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 6.5em;
        margin-left: -134px;
    }
    h2 {
        margin-right: -215px;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
        font-size: 7em;
        margin-left: -242px;
    }
    h2 {
        font-size: 4.5em;
        margin-left: -30px;
    }
    .summary h3 {
        margin-right: -187px;
    }
    .explanation h3 {
        margin-left: -339px;
    }
    .preamble h3 {
        margin-right: -242px;
    }
}