body {
	
	font-family: "futura-pt", sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: 700;
  padding-top: 0.5em;
  margin-bottom: 1em;
  }

  h2 {
  	font-size: 3.5em;
  	font-weight: 700;
  	padding: 1em 0;
  }

  h3 {
  	font-size: 3em;
  	font-weight: 600;
  	padding-top: 1.5em;
  	padding-bottom: .75em;
  }

  p {
  	font-size: 1.4em;
  	line-height: 130%;

    a{
      font-weight: 600;
      text-decoration: none;
    }
  }

  ul li a {
  	text-decoration: none;
  	font-size: 1.25em;
    font-weight: 600;
  }

  footer a {
    font-size: 1.5em;
    padding-right: .75em;

    &:last-of-type{
      padding-right: 0
    }
  }

  @media screen and (min-width: 720px) {
    // h1 {
    //   font-size: 6em;
    // }
  }
